{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquid asperiores incidunt inventore iste
        laboriosam
        laborum mollitia possimus, quaerat qui tempore ullam. Aperiam cum est et fuga iusto labore molestiae mollitia
        nemo
        perspiciatis praesentium quasi, rerum. Ex, sapiente, tenetur. Repellat!
    </p>
    <p>Aliquid minima non quaerat recusandae
        voluptas? Adipisci aliquam at autem cum dicta ducimus ea eaque enim eos est excepturi expedita facilis incidunt
        ipsam ipsum iusto
        laborum laudantium magnam magni, natus numquam officia placeat, quae reiciendis repudiandae ullam
        unde ut, voluptatibus!
    </p>

{% endblock %}